<div id='top-head' class='row'>
  <!-- Top Menu -->
  <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
    <div class='container-fluid'>
      <!-- Menu que deveria aparecer no Mobile -->
      <% # Porém não tá rolando essas classes do tbs e não posso perder tempo com isso %>
      <div class='navbar-header'>
        <button type='button'
          class='navbar-toggle collapsed'
          data-toggle='collapse'
          data-target='#navbar'
          aria-expanded='false'
          aria-controls='navbar'
          >
          <span class='sr-only'>Menu</span>
          <% 3.times.each do %>
            <span class='icon-bar'></span>
          <% end %>
        </button>
        <!-- /button menu -->
        <a class="navbar-brand" href="#">Goku Commerce</a>
      </div> <!--/navbar-header-->

      <div id='navbar' class='navbar-collapse collapse' aria-expanded='true' style='height: 1px;'>
        <ul class='nav navbar-nav'>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <%= link_to "Novo", new_address_path %>
          </li>
        </ul><!--/ul-->
      </div><!--/#navbar-->
    </div>
  </nav>
  <!-- /Top Menu -->
</div>
