<%= simple_form_for address, html: { class: 'form-horizontal'} do |f| %>
  <%= f.input :zipcode, label: false, placeholder: 'CEP', required: true  %><!-- <a href='#' onclick='autoFill'>Auto preencher</a> -->
  <%= f.input :street, label: false, placeholder: 'Logradouro', required: true   %>
  <%= f.input :neighborhood, label: false, placeholder: 'Bairro' %>
  <%= f.input :city, label: false, placeholder: 'Cidade' %>
  <%= f.input :state, label: false, placeholder: 'UF' %>
  <%= f.input :number, label: false, placeholder: 'numero', required: true   %>
  <%= f.input :complement, label: false, placeholder: 'Complemento' %>

  <%= f.button :submit, class: 'btn btn-success' %>
<% end %>
