  <%# TODO: Change this form to uses AJAX/remote %>
  <%= form_tag "/addresses/by_cep", method: :get, class: 'form-inline' do |f| %>
    <div class='row'>
      <div class='form-group col-md-12'>
        <%= text_field_tag :cep, "", placeholder: "Busca de endereços por CEP", class: 'form-control' %>

        <%= submit_tag "Buscar", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

<div>
  <% @addresses.each do |address| %>
    <p>
      <%= address.street %>, <%= address.number %> - <%= address.city %>
    </p>
  <% end %>
</div>

