<h3> Address </h3>

<p>
  <%= @address.street %>, <%= @address.number %> - <%= @address.complement %>
  <br />
  <%= @address.neighborhood %>, <%= @address.city %> - <%= @address.state %> - CEP <%= @address.zipcode %>
</p>
