<table>
  <tr>
    <th> # </th>
    <th> e-mail </th>
    <th> Ações </th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= button_to "apagar", user_path(user), :method => :delete %></td>
    </tr>
  <% end %>
</table>
