<!DOCTYPE html>
<html>
  <head>
    <title>Gokucommerce</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='stage' class='container'>
      <%= render 'shareds/topmenu' %>

      <div class='row col-md-offset-2 col-xs-offset-2' id='main' style='margin-top: 60px;'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
